
**/.env  
**/secrets/  
**/*.key  
**/*.pem  
**/*.cer  
**/terraform.tfvars  
**/*.tfstate  
**/*.tfstate.backup  
**/.aws/credentials  
**/.kube/config  


**/docker-compose.override.yml  
**/.terraform/  
**/terraform.tfstate.lock.info  

**/.vscode/  
**/.idea/  
**/*.swp  
**/.DS_Store  
**/Thumbs.db  

**/.clj-kondo
**/.lsp/
**/.editorconfig