**/.terraform/*
**/.terraform.lock.hcl
**/terraform.tfstate
**/terraform.tfstate.*
**/*.tfvars
**/*.tfvars.json
**/override.tf
**/override.tf.json


**/.terraformrc
**/terraform.rc


**/.idea
**/.vscode
**/*.swp
**/*.swo
**/.env


**/scripts/*.zip
**/scripts/*.jar

!environments/staging/terraform.tfvars.example
!environments/prod/terraform.tfvars.example
!modules/**/example.auto.tfvars

all_configs.txt